.transactions {
	margin-top: 20px;
	&__currency-info {
		background-color: #212529;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 13px;
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
		box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.35);
	}
	&__currency-name {
		background-color: #f44336;
		padding: 7px;
		border-radius: 5px;
		color: white;
		font-weight: bold;

		> span {
			direction: ltr;
		}
		&--positive {
			background-color: #66bb6a;
		}
	}
	// if it is positive style

	&__currency-price {
		font-weight: bold;
		color: whitesmoke;
	}
	&__chart {
		background-color: rgb(177, 177, 177);
		border: 2px solid #212121;
		border-radius: 5px;
	}
}
